.btn {
  width: 150px;
  font-weight: 700;
  @include transition(all, 0.5s, ease);

  &:focus {
    outline: none;
    box-shadow: none;
  }
}


.secondary-btn {
  background: $secondary-color;
  color: $main-color;

  &:hover {
    background: rgba($secondary-color, .6);
    color: $main-color;
  }

  &.inline {
    width: auto;
    border-radius: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }

  &.auto-width {
    width: auto;
  }
}


.link-btn {
  color: $main-color;
}

.arrow-btn {

  .fa {
    font-size: 40px;
    color: $main-color;
    @include transition(all, 0.5s, ease);

    &:hover {
      color: $main-color;
      transform: scaleX(1.2);
    }
  }

}


.link-btn {
  color: $secondary-color;

  &:hover {
    color: $secondary-color;
  }

}

.cta-btn {
  padding: 25px;
  background: $main-color;
  color: white;
  font-weight: 700;
  @include transition(all, 0.5s, ease);

  &:hover {
    transform: scale(1.1);
    color: white;
  }
}