@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

@import 'base/variables';
@import 'base/mixin';

html, body {
  background-color: $background;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto';
}

img {
  width: 100%;
}
