.form-group {



  .form-control {
    outline: none;

    &:focus {
      box-shadow: none;
      outline: none;
      border-color: $secondary-color;
    }


    &.custom {
      min-height: 50px;
    }
  }


  &.has-error {
    .form-control {
      border-color: #912727;
    }

    .help-block {
      color: #912727;
    }
  }



}





.dropbtn {
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}




#reservation-wizard {
  border: none;
  width: 60%;
  margin: auto;

  .nav-tabs {
    border: none;
    background: none;
    @extend .display-flex;
    justify-content: space-between;
    width: 400px;
    margin: auto;
    margin-bottom: 30px;

    li {
      margin-left: 0px;
    }
  }

  .title {
    text-align: center;
    font-size: 30px;
  }

  .tab-content {
    margin-bottom: 50px;
  }

  .sw-toolbar {
    background: transparent;
    box-shadow: none;

    .btn-group {
      width: 100%;
      justify-content: center;
    }
  }


  .btn-wrapper {
    text-align: center;
    margin: 30px 0px;

    .btn {
      background: #a1a1a1;
      color: white;
    }

    #submitBtn {
      background: $main-color;
      color: white;
    }
  }

  label {

    &.required {

      &:after {
        content: '*';
        color: #912727;
        font-size: 18px;
        margin-left: 5px;
      }
    }
  }
}

.sw-theme-circles>ul.step-anchor>li {
  @extend .display-flex;
}

.sw-theme-circles>ul.step-anchor>li.active>a {
  background: $secondary-color !important;
  border-color: $secondary-color;
}

.sw-theme-circles>ul.step-anchor>li.active>a:after {
  border-left: 30px solid $secondary-color !important;
 }

.sw-theme-circles>ul.step-anchor>li.done>a {
  background: $main-color !important;
  border-color: $main-color;
}

.sw-theme-circles>ul.step-anchor>li.done>a:after {
  border-left: 30px solid $main-color !important;
}


.contact-info-wrapper {
  margin-bottom: 30px;

  p {
    font-weight: 700;
    margin-bottom: 0px;
  }

  a {
    color: #007bff;
    font-weight: 500;
  }

  table {
    margin-bottom: 15px;
    width: 100%;
    border: none;

    tr {

      td {
        border: none;
        padding: 0px;

        &:first-of-type {
          color: $secondary-color;
          width: 25%;
          min-width: 25%;
        }
      }
    }
  }
}